*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    background-image : linear-gradient(45deg,#ff2828,#ff7b00);
}

.clock{
position: relative;
width: 500px;
height: 500px;
overflow: hidden;
border: 2px solid rgba(0, 0, 0,0.5);
border-radius: 250px; 
background-color: rgba(255, 0, 0, 0.4);
box-shadow: 6px 2px 20px black;
}

.clock::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(255, 17, 17, 0.4),rgba(146, 97, 97, 0.3),50%);
}

.clock::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.num{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.4rem;
} 

.num::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 15px;
    background-color: black;
}

.num1{
    transform: rotate(30deg);
}
.num1 div{
    transform: rotate(-30deg);
}
.num2{
    transform: rotate(60deg);
}
.num2 div{
    transform: rotate(-60deg);
}
.num3{
    transform: rotate(90deg);
}
.num3 div{
    transform: rotate(-90deg);
}
.num4{
    transform: rotate(120deg);
}
.num4 div{
    transform: rotate(-120deg);
}
.num5{
    transform: rotate(150deg);
}
.num5 div{
    transform: rotate(-150deg);
}
.num6{
    transform: rotate(180deg);
}
.num6 div{
    transform: rotate(-180deg);
}
.num7{
    transform: rotate(210deg);
}
.num7 div{
    transform: rotate(-210deg);
}
.num8{
    transform: rotate(240deg);
}
.num8 div{
    transform: rotate(-240deg);
}
.num9{
    transform: rotate(270deg);
}
.num9 div{
    transform: rotate(-270deg);
}
.num10{
    transform: rotate(300deg);
}
.num10 div{
    transform: rotate(-300deg);
}
.num11{
    transform: rotate(330deg);
}
.num11 div{
    transform: rotate(-330deg);
}
.num12{
    transform: rotate(360deg);
}
.num12 div{
    transform: rotate(-360deg);
}

.hand{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hand div{
    position: absolute;
    top : 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0);
}
.sec{
    position: absolute;
    margin: 45px 0px;
    width: 1px;
    height: 50%;
}
.min{
    position: absolute;
    margin: 40px 0px;
    width: 3px;
    height: 50%;
    border-radius: 5%;
}
.hour{
    position: absolute;
    margin: 70px 0px;
    width: 5px;
    height: 35%;
    border-radius: 5%;
}
